@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    height:auto;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#00ff55, #da6cf6);
    background-repeat: no-repeat;
    color: black;
}

ul {
    list-style: none;
}

li {
    font-size: 30px;
    display: inline;
    padding: 0 5px;
    float: right;
}

.navbar {
    padding: 25px;
    background-image: url("../media/images/BG.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-color: #61eb8f;
    background-position: 158px 0;
    height: 37px;
}

.navbar-logo {
    width: 5%;
    display: inline;
}

.navbar h1 {
    display: inline-block;
    width: 5%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 27px;
}

@media (max-width: 490px) {
    .navbar h1 {
        display: none;
    }

    a {
        font-size: 20px;
    }
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #61eb8f;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #55ce7d;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 